/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 20px;
}

.navbar ul li {
    margin-left: 100px;
    align-items: center;

}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.icons {
    display: flex;
}

.icons i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

/* Home Section Styles */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
    margin-top: 70px; /* Adjust as needed based on your header height */
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 4.5rem;
    color: hsl(0, 73%, 54%);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

/* Main Section Styles */
#main {
    padding: 20px;
}

.section__content {
    max-width: 1200px;
    margin: 0 auto;
}

/* Read More Component Styles */
.book-description,
.show-more-btn,
.description {
    padding: 1rem;
    text-align: center;
}

.show-more-btn {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.read-more__link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin-left: 2px;
}

.description {
    display: none;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries for Smaller Screens */
@media only screen and (max-width: 768px) {
    header {
        padding: 5px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .home .content h1 {
        font-size: 3rem;
    }

    .book {
        top: 5%;
    }
}
